* {
  margin: 0;
  padding: 0;
}
body {
  background: #f6f6f6
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12px;
  color: #6b6b6b;
  margin: 0;
}
#pagemargins {
  margin: 40px auto; 40px auto;
  width: 800px;
}
#content {
  padding: 0 60px 30px 60px;
  font-family: Arial,Helvetica,sans-serif;
  border: 1px solid #000000;
  margin-top:1em;
  padding-bottom:5em;
}
h1 {
  margin: 0;
  padding: 50px 0 10px 0;
  letter-spacing: -3px;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 36px;
}
h2, h3, h4 {
  margin: 0;
  border-bottom: 1px solid #d8d8d8;
  margin-bottom: 20px;
  padding-bottom: 9px;
  letter-spacing: -0.035em;
  font-weight: normal;
  color: #37404c;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 16px;
  font-weight: bold;
}
h4 {
  font-size: 14px;
  font-weight: bold;
}
p, ul, ol {
  margin-bottom: 14pt;
  line-height: 125%;
  text-align: justify;
  font-size: 14pt;
  color: #6b6b6b;
}
ul, ol, dl {
  margin-left: 3em;
  line-height: 125%;
}
li {
  margin-top: 1em;
}
li p {
  margin-top: 1em;
}
dt {
  margin: 10px, 10px, 10px, 2em;
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
  line-height: normal;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12pt;
  font-weight: bold;
}
dd {
  margin: 10px, 0, 20px, 2em;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 12pt;
  text-align: justify;  
}
em {
  color: #007777;
}
em.boldtoo {
  color: #007777;
  font-weight: bold;
}

a {
  color: #005AFF;
}
a:hover {
  text-decoration: none;
}
a img {
  border:  none;
}
img.left {
  margin: 5px 20px 0 0;
  float: left;
}
img.right {
  margin: 5px 0 0 20px;
  float: right;
}
#footer {
  height: 108px;
  border-top 1px solid #6b6b6b
}
#footer p {
  margin: 0;
  padding-top: 45px;
  text-align: center;
  color: #8e8e8e;
  font-size: 10pt;
  font-family: monospace,sans-serif;
}
#footer a {
  color: #666666;
}
#header {
  height: 100px;
  background: #005dff
}
#logo {
  float: left;
}
#logo h1 {
  margin: 0;
  padding: 50px 0 0 78px;
  letter-spacing: -3px;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 40px;
  color: #ffffff;
}
#menu {
  float: right;
}
#menu ul {
  margin: 0;
  padding: 72px 38px 0 0;
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
  line-height: normal;
  font-family: Arial,Helvetica,sans-serif;
}
#menu li {
  padding-left: 40px;
  display: inline;
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
}
#menu a {
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  color: #ffffff;
}
#menu a:hover {
  color:yellow;
}

.cntr {
  text-align: center;
}

#gamebuttons {
   float:left;
   width:100%;
   overflow:hidden;
   position:relative;
}
#gamebuttons ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
#gamebuttons ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0 1em 1em 1em;
   padding:0;
   position:relative;
   right:50%;
   font-family: Arial,Helvetica,sans-serif;
   background:#005dff;
   border-radius:1em;
}
#gamebuttons ul li a {
   display:block;
   margin:0 0 0 1px;
   padding:3px 10px;
   color:#fff;
   text-decoration:none;
   line-height:1.3em;
}
#gamebuttons ul li a:hover {
   background:#369;
   color:#fff;
   border-radius:1em;
}
#gamebuttons ul li a.active,
#gamebuttons ul li a.active:hover {
   color:#fff;
   background:#000;
   font-weight:bold;
   border-radius:1em;
}

.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}
.bigrounded {
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}
.medium {
	font-size: 12px;
	padding: .4em 1.5em .42em;
}
.small {
	font-size: 11px;
	padding: .2em 1em .275em;
}
.blue {
	color: white;
	/* color:#d9eef7;*/
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}